services:
  postgres:
    image: postgres:18.1-alpine
    container_name: pilato-db
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pilato_pgdata:/var/lib/postgresql/data

volumes:
  pilato_pgdata:
